<siat-titles-page title="Wizard" subtitle="Pages">
    <div leading>
        <button mat-icon-button matTooltip="Retornar">
            <siat-fa-icon icon="fa-solid fa-arrow-left"> </siat-fa-icon>
        </button>
    </div>

    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup" label="Sistema">
            <form [formGroup]="firstFormGroup">
                <siat-column padding="15px">
                    <siat-titles-card title="Datos de Sistema" subtitle="El nombre y la version deberan ser unicos">
                        <siat-body-card>
                            <siat-column>
                                <siat-row fxLayoutGap="30px">
                                    <siat-column fxFlex="50">
                                        <siat-text-input label="Nombre"></siat-text-input>
                                    </siat-column>
                                    <siat-column fxFlex="50">
                                        <siat-text-input label="Version"></siat-text-input>
                                    </siat-column>
                                </siat-row>
                                <siat-toogle label="Proceso masivo" descripcion="Permitir el envio de mil facturas">
                                </siat-toogle>
                            </siat-column>
                        </siat-body-card>

                    </siat-titles-card>
                    <siat-row>
                        <siat-column fxFlex="50">
                            <siat-titles-card title="Tipo de Sistema">
                                <siat-body-card>
                                    <siat-radio-item title="Proveedor">
                                        <siat-label-output label="Puedes ser utilizado por terceros">
                                        </siat-label-output>
                                    </siat-radio-item>
                                    <siat-radio-item title="Propietario">
                                        <siat-label-output label="No puedes ser utilizado por terceros">
                                        </siat-label-output>
                                    </siat-radio-item>
                                </siat-body-card>
                            </siat-titles-card>
                        </siat-column>
                        <siat-column fxFlex="50">
                            <siat-titles-card title="Modalidad de facturacion">
                                <siat-body-card>
                                    <siat-check-item title="Computarizada">
                                        <siat-text-output fxLayout="row" label="Codigo:" value="1"></siat-text-output>
                                    </siat-check-item>
                                    <siat-check-item title="Electrónica">
                                        <siat-text-output fxLayout="row" label="Codigo:" value="2"></siat-text-output>
                                    </siat-check-item>
                                </siat-body-card>
                            </siat-titles-card>
                        </siat-column>
                    </siat-row>
                </siat-column>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Sectores">
            <form [formGroup]="secondFormGroup">
                <siat-column padding="15px">
                    <siat-form-card title="Sectores" subtitle="">
                        <siat-row head>
                            <siat-check-title>
                                <siat-label-output label="Seleccionar todos"></siat-label-output>
                            </siat-check-title>
                            <span fxFlex="1 1 auto"></span>
                            <siat-search-text></siat-search-text>
                        </siat-row>
                        <siat-list class="card-body" maxHeight="400px">
                            <siat-check-item title="Compra Venta" description="Codigo: 1">
                                <siat-text-output fxLayout="row" label="Codigo:" value="1"></siat-text-output>
                            </siat-check-item>
                            <siat-check-item title="Alquileres" description="Codigo: 2">
                                <siat-text-output fxLayout="row" label="Codigo:" value="1"></siat-text-output>
                            </siat-check-item>
                            <siat-check-item title="Telecomunicaciones" description="Codigo: 2">
                                <siat-text-output fxLayout="row" label="Codigo:" value="1"></siat-text-output>
                            </siat-check-item>
                            <siat-check-item title="Hidrocarburos" description="Codigo: 2">
                                <siat-text-output fxLayout="row" label="Codigo:" value="1"></siat-text-output>
                            </siat-check-item>
                        </siat-list>
                    </siat-form-card>
                </siat-column>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <siat-column padding="15px">
                <siat-row>
                    <siat-titles-card fxFlex="50" title="Datos de contacto" subtitle="">
                        <siat-column fxLayoutGap="20px" padding="15px">
                            <siat-text-input label="Nombre"></siat-text-input>
                            <siat-text-input label="Email"></siat-text-input>
                            <siat-text-input label="Telefono"></siat-text-input>
                        </siat-column>
                        <siat-row fxLayoutAlign="end center">
                            <siat-button-rounded color="btn-success">
                                <siat-fa-icon icon="fa fa-plus"></siat-fa-icon><b>AGREGAR</b>
                            </siat-button-rounded>
                        </siat-row>
                    </siat-titles-card>
                    <siat-titles-card fxFlex="50" title="Lista de contactos" subtitle="">
                        <siat-list maxHeight="300px">
                            <siat-column padding="5px">
                                <div>
                                    <siat-item>
                                        <siat-group label="Contacto 1">
                                            <siat-wrap>
                                                <siat-text-output fxLayout="row" label="Documento:" value="5115889">
                                                </siat-text-output>
                                                <siat-text-output fxLayout="row" label="Email:" value="uno@gmail.com">
                                                </siat-text-output>
                                                <siat-text-output fxLayout="row" label="Telefono:" value="72416795">
                                                </siat-text-output>
                                            </siat-wrap>
                                        </siat-group>
                                        <div actions>
                                            <siat-fa-icon icon="fa fa-remove"></siat-fa-icon>
                                        </div>
                                    </siat-item>
                                </div>
                                <div>
                                    <siat-item>
                                        <siat-group label="Contacto 2">
                                            <siat-wrap>
                                                <siat-text-output fxLayout="row" label="Documento:" value="5115889">
                                                </siat-text-output>
                                                <siat-text-output fxLayout="row" label="Email:" value="uno@gmail.com">
                                                </siat-text-output>
                                                <siat-text-output fxLayout="row" label="Telefono:" value="72416795">
                                                </siat-text-output>
                                            </siat-wrap>
                                        </siat-group>
                                        <div actions>
                                            <siat-fa-icon icon="fa fa-remove"></siat-fa-icon>
                                        </div>
                                    </siat-item>
                                </div>
                            </siat-column>
                        </siat-list>
                    </siat-titles-card>
                </siat-row>
                <hr />
                <siat-row fxLayoutAlign="end center">
                    <siat-button-rounded color="btn-warning">GUARDAR</siat-button-rounded>
                    <siat-button-rounded color="btn-danger">CANCELAR</siat-button-rounded>
                </siat-row>
            </siat-column>
        </mat-step>
    </mat-stepper>
</siat-titles-page>