<siat-titles-page title="Master" subtitle="Sutitulo">
    <siat-master-layout>
        <siat-column drawer fxLayoutGap="0px">
            <siat-form-card>
                <div head>
                    <siat-search-text></siat-search-text>
                </div>
                <hr />
                <siat-body-card>
                    <siat-list>
                        <siat-item>
                            <siat-group label="5115889019">
                                <siat-text-output fxLayout="row" label="Sistemas:" value="15"></siat-text-output>
                            </siat-group>
                        </siat-item>
                        <siat-item>
                            <siat-group label="5115889019">
                                <siat-text-output fxLayout="row" label="Sistemas" value="15"></siat-text-output>
                            </siat-group>
                        </siat-item>
                        <siat-item>
                            <siat-group label="5115889019">
                                <siat-text-output fxLayout="row" label="Sistemas" value="15"></siat-text-output>
                            </siat-group>
                        </siat-item>
                        <siat-item>
                            <siat-group label="5115889019">
                                <siat-text-output fxLayout="row" label="Sistemas" value="15"></siat-text-output>
                            </siat-group>
                        </siat-item>
                        <siat-item>
                            <siat-group label="5115889019">
                                <siat-text-output fxLayout="row" label="Sistemas" value="15"></siat-text-output>
                            </siat-group>
                        </siat-item>
                        <siat-item>
                            <siat-group label="5115889019">
                                <siat-text-output fxLayout="row" label="Sistemas" value="15"></siat-text-output>
                            </siat-group>
                        </siat-item>
                    </siat-list>
                </siat-body-card>
            </siat-form-card>
            <siat-section-card title="Recientes">
                <siat-item>
                    <siat-group label="5115889019">
                        <siat-text-output fxLayout="row" label="Sistemas" value="15"></siat-text-output>
                    </siat-group>
                </siat-item>
                <siat-item>
                    <siat-group label="5115889019">
                        <siat-text-output fxLayout="row" label="Sistemas" value="15"></siat-text-output>
                    </siat-group>
                </siat-item>
            </siat-section-card>
        </siat-column>
        <siat-column fxLayoutGap="0px">
            <siat-section-card title="DATOS DE CONTRIBUYENTE">
                <siat-body-card>
                    <h5 class="card-title">Razon Social</h5>
                    <siat-row>
                        <siat-box fxFlex="50">
                            <siat-text-output label="NIT" value="5115889019"></siat-text-output>
                        </siat-box>
                        <siat-box fxFlex="50">
                            <siat-text-output label="Dependencia" value="La Paz II"></siat-text-output>
                        </siat-box>
                    </siat-row>
                </siat-body-card>
            </siat-section-card>
            <siat-row>
                <siat-background-card icon="fa fa-medal" title="15" subtitle="Autorizados" background="success"
                    fxFlex="33">
                </siat-background-card>
                <siat-background-card icon="fa fa-person-digging" title="5" subtitle="En pruebas" background="warning"
                    fxFlex="34">
                </siat-background-card>
                <siat-background-card icon="fa fa-code-commit" title="3" subtitle="Otros" background="info" fxFlex="33">
                </siat-background-card>
            </siat-row>
            <siat-form-card title="Sistema">
                <div actions>
                    <siat-button>Nuevo registro</siat-button>
                </div>
                <siat-toolbar head>
                    <mat-button-toggle-group leading>
                        <mat-button-toggle fxFlex="50" value="bold">Proveedor</mat-button-toggle>
                        <mat-button-toggle fxFlex="50" value="italic">Propietario</mat-button-toggle>
                    </mat-button-toggle-group>
                    <siat-select actions>
                        <option value="0" selected="">En pruebas</option>
                        <option value="1">Autorizados</option>
                        <option value="2">Suspendidos</option>
                        <option value="3">En inspeccion</option>
                    </siat-select>
                </siat-toolbar>
                <hr />
                <siat-body-card>
                    <siat-column fxLayoutGap="30px">
                        <siat-item matRipple>
                            <div leading>
                                <siat-fa-icon size="25px" icon="fa fa-code-fork"></siat-fa-icon>
                            </div>
                            <siat-group label="Sistema V1">
                                <siat-wrap fxLayoutGap="20px">
                                    <siat-text-output fxLayout="row" label="Estado:" value="Autorizado">
                                    </siat-text-output>
                                    <siat-text-output fxLayout="row" label="Fecha:" value="15/09/2022">
                                    </siat-text-output>
                                    <siat-text-output fxLayout="row" label="Avance:" value="100%"></siat-text-output>
                                </siat-wrap>
                            </siat-group>
                            <div actions>
                                <siat-fa-icon icon="fa fa-chevron-right"></siat-fa-icon>
                            </div>
                        </siat-item>
                        <siat-item matRipple>
                            <div leading>
                                <siat-fa-icon size="25px" icon="fa fa-code-fork"></siat-fa-icon>
                            </div>
                            <siat-group label="Sistema V1">
                                <siat-wrap fxLayoutGap="20px">
                                    <siat-text-output fxLayout="row" label="Estado:" value="Autorizado">
                                    </siat-text-output>
                                    <siat-text-output fxLayout="row" label="Fecha:" value="15/09/2022">
                                    </siat-text-output>
                                    <siat-text-output fxLayout="row" label="Avance:" value="100%"></siat-text-output>
                                </siat-wrap>
                            </siat-group>
                            <div actions>
                                <siat-fa-icon icon="fa fa-chevron-right"></siat-fa-icon>
                            </div>
                        </siat-item>
                        <siat-item matRipple>
                            <div leading>
                                <siat-fa-icon size="25px" icon="fa fa-code-fork"></siat-fa-icon>
                            </div>
                            <siat-group label="Sistema V1">
                                <siat-wrap fxLayoutGap="20px">
                                    <siat-text-output fxLayout="row" label="Estado:" value="Autorizado">
                                    </siat-text-output>
                                    <siat-text-output fxLayout="row" label="Fecha:" value="15/09/2022">
                                    </siat-text-output>
                                    <siat-text-output fxLayout="row" label="Avance:" value="100%"></siat-text-output>
                                </siat-wrap>
                            </siat-group>
                            <div actions>
                                <siat-fa-icon icon="fa fa-chevron-right"></siat-fa-icon>
                            </div>
                        </siat-item>
                        <siat-item matRipple>
                            <div leading>
                                <siat-fa-icon size="25px" icon="fa fa-code-fork"></siat-fa-icon>
                            </div>
                            <siat-group label="Sistema V1">
                                <siat-wrap fxLayoutGap="20px">
                                    <siat-text-output fxLayout="row" label="Estado:" value="Autorizado">
                                    </siat-text-output>
                                    <siat-text-output fxLayout="row" label="Fecha:" value="15/09/2022">
                                    </siat-text-output>
                                    <siat-text-output fxLayout="row" label="Avance:" value="100%"></siat-text-output>
                                </siat-wrap>
                            </siat-group>
                            <div actions>
                                <siat-fa-icon icon="fa fa-chevron-right"></siat-fa-icon>
                            </div>
                        </siat-item>
                    </siat-column>
                </siat-body-card>
            </siat-form-card>
        </siat-column>
    </siat-master-layout>
</siat-titles-page>