<siat-titles-page title="Inputs">
    <siat-column>
        <siat-code-card title="texto" [code]="basicData">
            <siat-body-card>
                <siat-column fxLayoutGap="10px">
                    <siat-text-input [formGroup]="formGroupObj" [(model)]="name" errorMsg="El texto debe tener maximo 6 caracteres" label="Nombre" [maxLength]="6" ></siat-text-input>
                    <siat-text-input [formGroup]="formGroupObj" [(model)]="lastName" errorMsg="El texto debe ser mayor a 8 caracteres" label="apellido" [minLength]="8" ></siat-text-input>
                    <siat-text-raw-input [formGroup]="formGroupObj" [disabled]="false" #email [(model)]="persona!.email" label="Correo" errorMsg="Formato invalido"></siat-text-raw-input>
                    <siat-date-input [required]="true" [defaultDate]="defaultDate" [formGroup]="formGroupObj" [(model)]="persona!.simpleDate" errorMsg="Debe seleccionar una Fecha" label="Fecha de Nacimiento" ></siat-date-input>
                </siat-column>
                <siat-column>
                    <button mat-raised-button color="primary" [disabled]="!formGroupObj.valid" (click)="onClick()">Create</button>
                </siat-column>
            </siat-body-card>
        </siat-code-card>
        <siat-code-card title="Numeros" [code]="numberInput">
            <siat-body-card>
                <siat-number-input  [(model)]="persona!.age" errorMsg="Numero entre 200 y 1500" label="Nro Entero " [min]="200" [max]="1500"></siat-number-input>
                <siat-number-input  [(model)]="persona!.age" errorMsg="Numero entre 200 y 1500" label="Nro Entero con mask" [min]="200" [max]="1500"></siat-number-input>
                <siat-decimal-input  [(model)]="decimalNumber" errorMsg="Numero Decimal" label="Nro Decimal" [min]="1000000"  [maxDecimals]="3"  ></siat-decimal-input> 
            </siat-body-card>
        </siat-code-card>
        <siat-code-card title="Moneda" [code]="nomeyInput">
            <siat-body-card>
                <siat-money-input [(model)]="decimalMoney" errorMsg="Numero Decimal 250 < x < 280" label="Nro Decimal" [maxDecimals]="2" [min]="250" [max]="280" currency="Bs"></siat-money-input>
            </siat-body-card>
        </siat-code-card>
        <siat-code-card title="Text Area" [code]="textAreaInput">
            <siat-body-card>
                <siat-text-area-input label="TextArea" [minRows]="3" [maxRows]="6"    [(model)]="areaText" errorMsg="llenar campo"></siat-text-area-input>
            </siat-body-card>
        </siat-code-card>
        <siat-code-card title="Selector" [code]="clasificadorInput">
            <siat-body-card>
                <siat-select-clasificador [list]="clasificadorList" appearance="outline" (onSelected)="selected($event)"></siat-select-clasificador>
                <siat-select-clasificador [list]="clasificadorList" label="Clasificador" (onSelected)="selected($event)"></siat-select-clasificador>
            </siat-body-card>
        </siat-code-card>

        <siat-code-card title="Modal Message" [code]="modalMessage">
            <siat-body-card>
                <siat-column fxLayoutGap="10px">
                    <siat-modal-message type="success" title="Opps" message="Desea imprimir registro?" [(model)]="success" (clickOk)="modalOk()" (clickCancel)="modalCancel()"></siat-modal-message>
                    <siat-modal-message type="error" title="Error title"  [(model)]="error"></siat-modal-message>
                    <siat-modal-message type="info" title="info title"  [(model)]="info"></siat-modal-message>
                    <siat-modal-message type="warning" title="warning title"  [(model)]="warning"></siat-modal-message>
                    <button (click)="success = true">success {{success}}</button>
                    <button (click)="error = true">Error {{error}}</button>
                    <button (click)="info = true">info {{info}}</button>
                    <button (click)="warning = true">warning {{warning}}</button>
                </siat-column>
            </siat-body-card>
        </siat-code-card>

        <siat-code-card title="Input search" [code]="inputSearch">
            <siat-body-card>
                <siat-column>
                    <siat-search-text (modelChange)="buscarSistema($event)"></siat-search-text>
                </siat-column>
            </siat-body-card>
        </siat-code-card>
    </siat-column>
</siat-titles-page>
