<siat-titles-page title="Radio Button">
    <siat-code-card title="Simple" code="{{radioButtonSimple}}">
        <siat-row>
            <siat-radio-title title="Sistema Propietario" fxFlex="50">
                <siat-label-output label="No puede ser utilizado por terceros"></siat-label-output>
            </siat-radio-title>
            <siat-radio-title title="Sistema Proveedor" fxFlex="50">
                <siat-label-output label="Puede ser utilizado por terceros"></siat-label-output>
            </siat-radio-title>
        </siat-row>
        <siat-row>
            <siat-radio-title title="Sistema Propietario" fxFlex="50">
                <siat-label-output label="No puede ser utilizado por terceros"></siat-label-output>
            </siat-radio-title>
            <siat-radio-title title="Sistema Proveedor" fxFlex="50">
                <siat-label-output label="Puede ser utilizado por terceros"></siat-label-output>
            </siat-radio-title>
        </siat-row>
    </siat-code-card>
    <siat-code-card title="Lista Radio" code="{{radioButtonLista}}">
        <siat-column>
            <siat-radio-item title="Sistema Propietario">
                <siat-label-output label="No puede ser utilizado por terceros"></siat-label-output>
            </siat-radio-item>
            <siat-radio-item title="Sistema Proveedor">
                <siat-label-output label="Puede ser utilizado por terceros"></siat-label-output>
            </siat-radio-item>
        </siat-column>
    </siat-code-card>

    <siat-code-card title="List BottomSheet Clasificador" code="{{radioButtonSheet}}">
        <ng-template #bottomSheetRadio>
            <siat-clasificador-radio-select [clasificadoresService]="radioClasificadorService" (closeSelect)="closeRadio()"></siat-clasificador-radio-select>
        </ng-template>
        <p>Selección simple: {{selectedRadio| json}}</p>
        <siat-row>
            <siat-button color="btn-outline-primary" (onClick)="openBottom(bottomSheetRadio)">Open Radio</siat-button>
        </siat-row>
    </siat-code-card>
</siat-titles-page>