<siat-titles-page title="Outputs" subtitle="Components">
    <siat-column padding="20px">
        <siat-row>
            <siat-column fxFlex="50">
                <siat-code-card title="text column" code="{{textColumnCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-text-output label="Label 1" value="Value 1"></siat-text-output>
                            <siat-text-output label="Label 2" value="Value 2"></siat-text-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
            <siat-column fxFlex="50">
                <siat-code-card title="text row" code="{{textRowCode}}">
                    <siat-body-card>
                        <siat-column>
                            <siat-text-output fxLayout="row" label="Label 1:" value="Value 1"></siat-text-output>
                            <siat-text-output fxLayout="row" label="Label 2:" value="Value 2"></siat-text-output>
                            <siat-text-output fxLayout="row" label="Label 3:" value="Value 3"></siat-text-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
        </siat-row>
        <siat-row>
            <siat-column fxFlex="50">
                <siat-code-card title="number column" code="{{numberColumnCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-number-output label="Number 1" value="785965875"></siat-number-output>
                            <siat-number-output label="Number 2" value="785967899"></siat-number-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
            <siat-column fxFlex="50">
                <siat-code-card title="number row" code="{{numberRowCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-number-output fxLayout="row" label="Number 1:" value="789654123"></siat-number-output>
                            <siat-number-output fxLayout="row" label="Number 2:" value="123456789"></siat-number-output>
                            <siat-number-output fxLayout="row" label="Number 3:" value="123456789"></siat-number-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
        </siat-row>
        <siat-row>
            <siat-column fxFlex="50">
                <siat-code-card title="date column" code="{{dateColumnCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-date-output label="Date 1" value="2022-09-14"></siat-date-output>
                            <siat-date-output label="Date 2" value="2022-09-15"></siat-date-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
            <siat-column fxFlex="50">
                <siat-code-card title="date row" code="{{dateRowCode}}">
                    <siat-body-card>
                        <siat-column>
                            <siat-date-output fxLayout="row" label="Date 1:" value="2022-09-14"></siat-date-output>
                            <siat-date-output fxLayout="row" label="Date 2:" value="2022-09-15"></siat-date-output>
                            <siat-date-output fxLayout="row" label="Date 3:" value="2022-09-16"></siat-date-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
        </siat-row>
        <siat-row>
            <siat-column fxFlex="50">
                <siat-code-card title="datetime column" code="{{datetimeColumnCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-datetime-output label="Datetime 1" value="2021-10-15"></siat-datetime-output>
                            <siat-datetime-output label="Datetime 2" value="2021-10-15"></siat-datetime-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
            <siat-column fxFlex="50">
                <siat-code-card title="datetime row" code="{{datetimeRowCode}}">
                    <siat-body-card>
                        <siat-column>
                            <siat-datetime-output fxLayout="row" label="Datetime 1:" value="2021-10-15">
                            </siat-datetime-output>
                            <siat-datetime-output fxLayout="row" label="Datetime 2:" value="2021-10-14">
                            </siat-datetime-output>
                            <siat-datetime-output fxLayout="row" label="Datetime 3:" value="2021-10-17">
                            </siat-datetime-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
        </siat-row>
        <siat-row>
            <siat-column fxFlex="50">
                <siat-code-card title="boolean column" code="{{booleanColumnCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-boolean-output label="Boolean 1" value={{true}} trueDescription="Habilitado"
                                falseDescription="No habilitado">
                            </siat-boolean-output>
                            <siat-boolean-output label="Boolean 2" value={{false}} trueDescription={{1}}
                                falseDescription={{2}}>
                            </siat-boolean-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
            <siat-column fxFlex="50">
                <siat-code-card title="boolean row" code="{{booleanRowCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-boolean-output fxLayout="row" label="Boolean 1:" value={{true}} trueDescription="Si"
                                falseDescription="No">
                            </siat-boolean-output>
                            <siat-boolean-output fxLayout="row" label="Boolean 2:" value={{false}} trueDescription={{1}}
                                falseDescription={{2}}>
                            </siat-boolean-output>
                            <siat-boolean-output fxLayout="row" label="Boolean 3:" value={{false}} trueDescription={{1}}
                                falseDescription={{2}}>
                            </siat-boolean-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
        </siat-row>
        <siat-row>
            <siat-column fxFlex="50">
                <siat-code-card title="decimal column" code="{{decimalColumnCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-decimal-output label="Decimal 1" value="1236548.123"></siat-decimal-output>
                            <siat-decimal-output label="Decimal 1" value="1236548.1222222" [maxDecimals]="3">
                            </siat-decimal-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
            <siat-column fxFlex="50">
                <siat-code-card title="decimal row" code="{{decimalRowCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-decimal-output fxLayout="row" label="Decimal 1:" value="1236548.123">
                            </siat-decimal-output>
                            <siat-decimal-output fxLayout="row" label="Decimal 1:" value="987456321.12358" [maxDecimals]="3">
                            </siat-decimal-output>
                            <siat-decimal-output fxLayout="row" label="Decimal10:" value="12563.7859" symbol="%">
                            </siat-decimal-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
        </siat-row>
        <siat-row>
            <siat-column fxFlex="50">
                <siat-code-card title="money column" code="{{moneyColumnCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-money-output label="Money 1" value="15263256"></siat-money-output>
                            <siat-money-output label="Money 1" value="15263256"></siat-money-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
            <siat-column fxFlex="50">
                <siat-code-card title="money row" code="{{moneyRowCode}}">
                    <siat-body-card>
                        <siat-column fxLayoutGap="10px">
                            <siat-money-output fxLayout="row" label="Money 1:" value="15263256" currency="$">
                            </siat-money-output>
                            <siat-money-output fxLayout="row" label="Money 2:" value="15263256" currency="$">
                            </siat-money-output>
                            <siat-money-output fxLayout="row" label="Money 3:" value="987456321.1236" [maxDecimals]="2" currency="$">                                
                            </siat-money-output>
                        </siat-column>
                    </siat-body-card>
                </siat-code-card>
            </siat-column>
        </siat-row>
        <siat-row>
            <siat-column fxFlex="100">
                <siat-code-card title="group" code="{{groupCode}}">
                    <siat-item>
                        <siat-group label="Grupo 1">
                            <siat-wrap fxLayoutGap="20px">
                                <siat-text-output fxLayout="row" label="Producto:" value="Tickets"></siat-text-output>
                                <siat-money-output fxLayout="row" label="Money:" value="15263256" currency="$">
                                </siat-money-output>
                                <siat-date-output fxLayout="row" label="Date:" value="2022-09-14"></siat-date-output>
                            </siat-wrap>
                        </siat-group>
                    </siat-item>
                </siat-code-card>
            </siat-column>
        </siat-row>
        <siat-code-card title="Label" code="{{labelCode}}">
            <siat-body-card>
                <siat-label-output label="label 1"></siat-label-output>
                <siat-label-output label="label 2"></siat-label-output>
                <siat-label-output label="label 3"></siat-label-output>
            </siat-body-card>
        </siat-code-card>
        <siat-code-card title="Select filter" code="{{selectFilter}}">
            <siat-body-card>
                <siat-column>
                    <siat-select (onChange)="actionSelect($event)">
                        <option value="0">Option 0</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                    </siat-select>
                    <siat-select (onChange)="actionSelect($event)">
                        <option *ngFor="let item of options" value="{{item}}">{{item}}</option>
                    </siat-select>
                </siat-column>
            </siat-body-card>
        </siat-code-card>
        <siat-code-card title="ThumbsBar" code="{{thumbBar}}">
            <siat-body-card>
                <button mat-stroked-button (click)="openSnackBar()"> Show </button>
            </siat-body-card>
        </siat-code-card>
    </siat-column>
</siat-titles-page>