<siat-titles-page title="Alerts component">
    <siat-code-card title="alert" code="{{alert}}">
        <siat-column padding="20px">
            <siat-alert type="primary" text="Something happened"></siat-alert>
            <siat-alert type="secondary" text="Something happened"></siat-alert>
            <siat-alert type="success" text="Something happened"></siat-alert>
            <siat-alert type="info" text="Something happened"></siat-alert>
            <siat-alert type="warning" text="Something happened"></siat-alert>
            <siat-alert type="danger" text="Something happened"></siat-alert>
        </siat-column>
    </siat-code-card>
    <siat-code-card title="light alert" code="{{alertLight}}">
        <siat-column padding="20px">
            <siat-alert-light type="primary" text="Something happened"></siat-alert-light>
            <siat-alert-light type="secondary" text="Something happened"></siat-alert-light>
            <siat-alert-light type="success" text="Something happened"></siat-alert-light>
            <siat-alert-light type="info" text="Something happened"></siat-alert-light>
            <siat-alert-light type="warning" text="Something happened"></siat-alert-light>
            <siat-alert-light type="danger" text="Something happened"></siat-alert-light>
        </siat-column>
    </siat-code-card>
</siat-titles-page>