<siat-titles-page title="Formulario">
    <div leading>
        <button mat-icon-button matTooltip="Retornar">
            <siat-fa-icon icon="fa-solid fa-arrow-left"> </siat-fa-icon>
        </button>
    </div>
    <form>
        <siat-column>
            <siat-titles-card title="Datos de Sistema" subtitle="El nombre y la version deberan ser unicos">
                <siat-body-card>
                    <siat-row fxLayoutGap="30px">
                        <siat-column fxFlex="50">
                            <siat-text-input label="Nombre"></siat-text-input>
                        </siat-column>
                        <siat-column fxFlex="50">
                            <siat-text-input label="Version"></siat-text-input>
                        </siat-column>
                    </siat-row>
                    <siat-toogle label="Proceso masivo" descripcion="Permitir el envio de mil facturas">
                    </siat-toogle>
                </siat-body-card>
                <!-- <single-select label="Proceso Masivo" descripcion="Permite envios de paquetes de mil facturas">
                </single-select> -->
            </siat-titles-card>
        </siat-column>
    </form>
    <siat-row>
        <siat-column fxFlex="50">
            <siat-titles-card title="Tipo de Sistema" subtitle="">
                <siat-body-card>
                    <siat-radio-item title="Proveedor" description="Puedes ser utilizado por terceros">
                        <siat-label-output label="Puedes ser utilizado por terceros"></siat-label-output>
                    </siat-radio-item>
                    <siat-radio-item title="Propietario" description="No puedes ser utilizado por terceros">
                        <siat-label-output label="No puedes ser utilizado por terceros"></siat-label-output>
                    </siat-radio-item>
                </siat-body-card>
            </siat-titles-card>
        </siat-column>
        <siat-column fxFlex="50">
            <siat-titles-card title="Modalidad de facturacion" subtitle="">
                <siat-body-card>
                    <siat-check-item title="Computarizada">
                        <siat-text-output fxLayout="row" label="Codigo:" value="1"></siat-text-output>
                    </siat-check-item>
                    <siat-check-item title="Electrónica">
                        <siat-text-output fxLayout="row" label="Codigo:" value="2"></siat-text-output>
                    </siat-check-item>
                </siat-body-card>
            </siat-titles-card>
        </siat-column>
    </siat-row>
    <siat-form-card title="Sectores" subtitle="">
        <siat-row head>
            <siat-check-title>
                <siat-label-output label="Seleccionar todos"></siat-label-output>
            </siat-check-title>
            <span fxFlex="1 1 auto"></span>
            <siat-search-text></siat-search-text>
        </siat-row>
        <siat-list class="card-body" maxHeight="400px">
            <siat-check-item title="Compra Venta" description="Codigo: 1">
                <siat-text-output fxLayout="row" label="Codigo:" value="1"></siat-text-output>
            </siat-check-item>
            <siat-check-item title="Alquileres" description="Codigo: 2">
                <siat-text-output fxLayout="row" label="Codigo:" value="1"></siat-text-output>
            </siat-check-item>
            <siat-check-item title="Telecomunicaciones" description="Codigo: 2">
                <siat-text-output fxLayout="row" label="Codigo:" value="1"></siat-text-output>
            </siat-check-item>
            <siat-check-item title="Hidrocarburos" description="Codigo: 2">
                <siat-text-output fxLayout="row" label="Codigo:" value="1"></siat-text-output>
            </siat-check-item>
        </siat-list>
    </siat-form-card>
    <siat-row>
        <siat-titles-card fxFlex="50" title="Datos de contacto" subtitle="">
            <siat-body-card>
                <siat-column fxLayoutGap="20px" padding="15px">
                    <siat-row>
                        <siat-text-input fxFlex="50" label="Documento de identidad"></siat-text-input>
                        <siat-text-input fxFlex="50" label="Complemento"></siat-text-input>
                    </siat-row>
                    <siat-text-input label="Nombre"></siat-text-input>
                    <siat-row>
                        <siat-text-input fxFlex="50" label="Email"></siat-text-input>
                        <siat-text-input fxFlex="50" label="Telefono"></siat-text-input>
                    </siat-row>
                </siat-column>
                <siat-button-rounded color="btn-success">AGREGAR</siat-button-rounded>
            </siat-body-card>
        </siat-titles-card>
        <siat-titles-card fxFlex="50" title="Lista de contactos" subtitle="">
            <siat-body-card>
                <siat-list maxHeight="300px">
                    <siat-column padding="5px">
                        <div>
                            <siat-item>
                                <siat-group label="Contacto 1">
                                    <siat-wrap>
                                        <siat-text-output fxLayout="row" label="Documento:" value="5115889">
                                        </siat-text-output>
                                        <siat-text-output fxLayout="row" label="Email:" value="uno@gmail.com">
                                        </siat-text-output>
                                        <siat-text-output fxLayout="row" label="Telefono:" value="72416795">
                                        </siat-text-output>
                                    </siat-wrap>
                                </siat-group>
                                <div actions>
                                    <siat-fa-icon icon="fa fa-remove"></siat-fa-icon>
                                </div>
                            </siat-item>
                        </div>
                        <div>
                            <siat-item>
                                <siat-group label="Contacto 2">
                                    <siat-wrap>
                                        <siat-text-output fxLayout="row" label="Documento:" value="5115889">
                                        </siat-text-output>
                                        <siat-text-output fxLayout="row" label="Email:" value="uno@gmail.com">
                                        </siat-text-output>
                                        <siat-text-output fxLayout="row" label="Telefono:" value="72416795">
                                        </siat-text-output>
                                    </siat-wrap>
                                </siat-group>
                                <div actions>
                                    <siat-fa-icon icon="fa fa-remove"></siat-fa-icon>
                                </div>
                            </siat-item>
                        </div>
                    </siat-column>
                </siat-list>
            </siat-body-card>

        </siat-titles-card>
    </siat-row>
    <div class="card-body border-top" fxLayoutAlign="end end">
        <button type="submit" class="btn btn-warning rounded-pill px-4 ms-3 text-white">
            <div class="d-flex align-items-center"> GUARDAR </div>
        </button>
        <button type="button" class="btn btn-danger rounded-pill px-4 ms-3 text-white"> CANCELAR </button>
    </div>
</siat-titles-page>