<siat-titles-page title="Tablas" subtitle="ejemplo de tabla">
    <siat-code-card title="Tabla" code="{{code}}">
            <siat-table [headers]="headers" [items]="desserts" [options]="true" [actionsTemplate]="actionTmpl"></siat-table>
            <ng-template #actionTmpl let-record="record">
                <siat-row fxLayoutGap="0">
                    <siat-icon-link icon="fa fa-eye" (onClick)="edit(record)"></siat-icon-link>
                    <siat-icon-link icon="fa fa-edit" (onClick)="edit(record)"></siat-icon-link>
                    <siat-icon-link icon="fa fa-trash" (onClick)="edit(record)"></siat-icon-link>
                </siat-row>
            </ng-template>

    </siat-code-card>
</siat-titles-page>
