<siat-titles-page title="Clasificadores">
    <siat-code-card title="Clasificador item" code="{{clasificadorItem}}">
        <siat-body-card>
            <siat-clasificador-item [clasificador]="clasificador">
            </siat-clasificador-item>
        </siat-body-card>
    </siat-code-card>
    <siat-code-card title="Clasificador item con icono" code="{{clasificadorItemIcono}}">
        <siat-body-card>
            <siat-clasificador-item [clasificador]="clasificador" icon="fa fa-user">
            </siat-clasificador-item>
        </siat-body-card>
    </siat-code-card>
    <siat-code-card title="Clasificador item compuesto" code="{{clasificadorItemCompuesto}}">
        <siat-body-card>
            <siat-clasificador-item [clasificador]="clasificador" icon="fa fa-user">
                <siat-wrap>
                    <siat-text-output fxLayout="row" label="Id:" value="601"></siat-text-output>
                    <siat-text-output fxLayout="row" label="Codigo:" value="2"></siat-text-output>
                    <siat-text-output fxLayout="row" label="Abreviatura:" value="ELEC"></siat-text-output>
                </siat-wrap>
            </siat-clasificador-item>
        </siat-body-card>
    </siat-code-card>
    <siat-code-card title="Clasificador compuesto - list" code="{{clasificadorListCompuesto}}">
        <siat-body-card>
            <siat-column fxLayoutGap="15px">
                <siat-clasificador-item [clasificador]="clasificador" icon="fa fa-user">
                    <siat-wrap>
                        <siat-text-output fxLayout="row" label="Id:" value="601"></siat-text-output>
                        <siat-text-output fxLayout="row" label="Codigo:" value="2"></siat-text-output>
                        <siat-text-output fxLayout="row" label="Abreviatura:" value="ELEC"></siat-text-output>
                    </siat-wrap>
                </siat-clasificador-item>
                <siat-clasificador-item [clasificador]="clasificador" icon="fa fa-user">
                    <siat-wrap>
                        <siat-text-output fxLayout="row" label="Id:" value="601"></siat-text-output>
                        <siat-text-output fxLayout="row" label="Codigo:" value="2"></siat-text-output>
                        <siat-text-output fxLayout="row" label="Abreviatura:" value="ELEC"></siat-text-output>
                    </siat-wrap>
                </siat-clasificador-item>
            </siat-column>
        </siat-body-card>
    </siat-code-card>
    <siat-code-card title="Clasificador group" code="{{clasificadorGroup}}">
        <siat-body-card>
            <siat-clasificador-group [clasificador]="clasificador" icon="fa fa-user">
                <siat-wrap>
                    <siat-text-output fxLayout="row" label="Id:" value="601"></siat-text-output>
                    <siat-text-output fxLayout="row" label="Codigo:" value="2"></siat-text-output>
                    <siat-text-output fxLayout="row" label="Abreviatura:" value="ELEC"></siat-text-output>
                </siat-wrap>
            </siat-clasificador-group>
        </siat-body-card>
    </siat-code-card>
    <siat-code-card title="Clasificador group - list" code="{{clasificadorListGroup}}">
        <siat-body-card>
            <siat-column fxLayoutGap="20px">
                <siat-clasificador-group [clasificador]="clasificador">
                    <siat-label-output label="42563.256"></siat-label-output>
                    <siat-progress-bar [width]="20" background="bg-info"></siat-progress-bar>
                    <div actions>
                        <h5>20%</h5>
                    </div>
                </siat-clasificador-group>
                <siat-clasificador-group [clasificador]="clasificador">
                    <siat-label-output label="42563.256"></siat-label-output>
                    <siat-progress-bar [width]="20" background="bg-info"></siat-progress-bar>
                    <div actions>
                        <h5>20%</h5>
                    </div>
                </siat-clasificador-group>
            </siat-column>
        </siat-body-card>
    </siat-code-card>
</siat-titles-page>